<!doctype html>
<html lang="en">

<head>
    <title>衣柜管理</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- 自定义样式 -->
    <style>
        body {
            background: #eef4f7;
        }

        a {
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
        }

        .wardrobe_style {
            width: 100px;
            height: 100px;
            float: left;
            border-radius: 15px;
        }
    </style>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.js"></script>

    <!-- local js -->
    <script src="js/vue.js"></script>
    <script src="js/axios-0.18.0.js"></script>

</head>

<body>
    <h2 class="text-center">衣柜管理页面</h2>
    <div id="wardrobeHtml">
        <div class="card mt-3">
            <div class="card-body ml-5 mr-5">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#operation1">衣柜状态</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#operation2">衣柜出租记录</a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <!-- 衣柜状态模块 -->
                    <div id="operation1" class="container tab-pane active"><br>
                        <!-- 衣柜状态操作栏 -->
                        <div class="row">
                            <!-- 选择衣柜状态 -->
                            <div class="col-md-1 text-right pr-1">
                                <h6 class="mt-2">衣柜状态:</h6>
                            </div>
                            <div class="col-md-2 pl-1">
                                <select class="form-control" id="selectWCategory">
                                    <option value="1">所有</option>
                                    <option value="0" id="searchHide1">--请选择-----</option>
                                    <option value="2">空闲中</option>
                                    <option value="3">租用中</option>
                                    <option value="4">故障维修</option>
                                </select>
                            </div><!-- 选择衣柜状态 end-->
                            <!-- 搜索衣柜输入框 -->
                            <div class="col-md-4 text-right pr-1">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">搜索衣柜编号:</span>
                                    </div>
                                    <input type="text" id="wstext" class="form-control" placeholder="search"
                                        v-model="selectedWardrobeL" />
                                    <!-- <button class="btn btn-outline-primary my-2 my-sm-0 mr-3"
                                        @click="searchSingleW">搜索</button> -->
                                </div>
                            </div><!-- 搜索衣柜输入框 end-->
                            <!-- 信息提示框 -->
                            <div class="col-md-5">
                                <h6 class="mt-2">tip：
                                    <span class="text-success ">绿色代表空闲中、</span>
                                    <span class="text-dark ">灰色代表租借中、</span>
                                    <span class="text-danger ">红色代表故障维修</span>
                                </h6>
                            </div><!-- 信息提示框 end-->
                        </div><!-- 衣柜状态操作栏 end-->
                        <hr>
                        <!-- 衣柜信息显示区域 -->
                        <h4 class="text-muted text-center" v-if="showInfoModalW.length==0">sorry , no results</h4>
                        <div class="card text-white mt-3 ml-3 wardrobe_style" v-for="(wardrobe) in showInfoModalW">
                            <div class="card-body p-1 text-center wardrobe_style"
                                :class="addBg(wardrobe.wardrobe_status)">
                                <h5>{{wardrobe.wardrobe_name}}</h5>
                                <button type="button" class="btn btn-light p-1 m-1" data-toggle="modal"
                                    data-target="#myModal" @click="operateMadal(wardrobe)">
                                    操作
                                </button>
                            </div>
                        </div><!-- 衣柜信息显示区域  end-->
                        <!-- 模态框 -->
                        <div class="modal fade" id="myModal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <!-- 模态框头部 -->
                                    <div class="modal-header text-center">
                                        <h5 class="modal-title">衣柜信息</h5>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <!-- 模态框主体 -->
                                    <div class="modal-body">
                                        <!-- 空闲的衣柜，模态框信息如下 -->
                                        <div v-if="operaMInfo.status == 0">
                                            <P class="text-muted">该衣柜空闲中，可以出租，请添加会员信息</P>
                                            <div class="mt-2">
                                                会员卡号：<input id="selectCid" type="text" list="cidList"
                                                    v-model="operaMInfo.defaultCid">
                                                <datalist id="cidList">
                                                    <option v-for="(member) in memberList">{{member.cid}}</option>
                                                </datalist>
                                            </div>
                                            <div class="mt-2">
                                                会员姓名：<input id="selectMname" type="text" list="mNameList"
                                                    v-model="operaMInfo.defaultMname">
                                                <datalist id="mNameList">
                                                    <option v-for="(member) in memberList">{{member.mname}}</option>
                                                </datalist>
                                            </div>
                                            <div class="mt-2">
                                                缴纳押金：<input id="deposit" type="text"
                                                    v-model="operaMInfo.defaultDeposit">
                                            </div>
                                            <div class="mt-2">
                                                备注记录：<input id="deposit" type="text" v-model="operaMInfo.defaultDesc">
                                            </div>
                                            <p class="text-muted mt-3">该柜已损坏？<a href="javascript:void(0)" @click="setFault(2)">去设置为故障状态</a>
                                            </p>
                                            <!-- 底部按钮 -->
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary"
                                                    @click="rentWardrobe()">租柜</button>
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">关闭</button>
                                            </div>
                                        </div><!-- 空闲的衣柜，模态框信息如下 end-->
                                        <!-- 租借中的衣柜，模态框信息如下 -->
                                        <div v-if="operaMInfo.status == 1">
                                            该衣柜正在被会员卡号为“{{operaMInfo.rentedCid}}”的“{{operaMInfo.rentedMname}}”租借~~~
                                            </p>
                                            <!-- 底部按钮 -->
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary"
                                                    @click="cancelWardrobe()">退柜</button>
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">关闭</button>
                                            </div>
                                        </div><!-- 租借中的衣柜，模态框信息如下 end-->
                                        <!-- 故障的衣柜，模态框信息如下 -->
                                        <div v-if="operaMInfo.status == 2">
                                            <p class="text-muted mt-3">该柜出现了故障，<a href="javascript:void(0)" @click="setFault(0)">已维修好？</a>
                                            </p>
                                            <!-- 底部按钮 -->
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">关闭</button>
                                            </div>
                                        </div><!-- 故障的衣柜，模态框信息如下 end-->
                                    </div><!-- 模态框主体 end-->
                                </div>
                            </div>
                        </div><!-- 模态框 end-->
                    </div><!-- 衣柜状态模块 end-->
                    <!-- 衣柜出租记录模块 -->
                    <div id="operation2" class="container tab-pane fade"><br>
                        <!-- 衣柜出租记录操作栏 -->
                        <div class="row">
                            <!-- 选择出租记录状态 -->
                            <div class="col-md-1 text-right pr-1">
                                <h6 class="mt-2">衣柜状态:</h6>
                            </div>
                            <div class="col-md-2 pl-1">
                                <select class="form-control" id="selectWRCategory">
                                    <option value="1">所有</option>
                                    <option value="0" id="searchHide2">--请选择-----</option>
                                    <option value="2">租用中</option>
                                    <option value="3">已完成</option>
                                </select>
                            </div><!-- 选择出租记录状态 end-->
                            <div class="col-md-5 pr-1 mt-1">
                                登记日期：<input type="date" id="wRDateStart" v-model="wrRegTime.start" /> 至：<input
                                    type="date" id="wRDateEnd" v-model="wrRegTime.end" />
                            </div>
                            <div class="col-md-4 pr-1">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">搜索衣柜编号:</span>
                                    </div>
                                    <input id="wrstext" class="form-control" type="text" list="wnameList"
                                        v-model="selectedWardrobeR">
                                    <datalist id="wnameList">
                                        <option v-for="(wr) in wardrobeList_all">{{wr.wardrobe_name}}</option>
                                    </datalist>
                                </div>
                            </div>
                        </div><!-- 衣柜状态操作栏 end-->
                        <hr>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>会员卡号</th>
                                    <th>会员姓名</th>
                                    <th>衣柜名称</th>
                                    <th>登记日期</th>
                                    <th>出租状态</th>
                                    <th>起始日期</th>
                                    <th>截止日期</th>
                                    <th>押金</th>
                                    <th>备注</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(WR) in showInfoModalWR" :class="showWRBg(WR)">
                                    <td>{{WR.cid}}</td>
                                    <td>{{WR.mname}}</td>
                                    <td>{{WR.wardrobe_name}}</td>
                                    <td>{{WR.wr_regtime}}</td>
                                    <td>{{WR.wr_status}}</td>
                                    <td>{{WR.wr_starttime}}</td>
                                    <td>{{WR.wr_endtime}}</td>
                                    <td>{{WR.wr_deposit}}</td>
                                    <td>{{WR.wr_desc}}</td>
                                    <td><button type="button" class="btn btn-info" v-if="WR.wr_status == '租用中'"
                                            @click="cancelWardrobe2(WR.wr_id)">退柜</button></td>
                                </tr>
                            </tbody>
                        </table>
                        <h4 class="text-muted text-center" v-if="showInfoModalWR.length==0">sorry , no results</h4>
                    </div><!-- 衣柜出租记录模块 end-->
                </div><!-- Tab panes end -->
            </div>
        </div>
    </div>
    <!-- 背景效果-->
    <script type="text/javascript" src="https://cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js"></script>
    <!-- 自己写的vue的js -->
    <script src="js/wardrobeHtml.js"></script>

</body>

</html>