<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="card">

        <div class="card-body">
            <h4 class="card-title">游客中心</h4>

        </div>
        <div class="card-footer text-muted">
            健身管理系统
        </div>
    </div>
    <form action="addUnmember.do" method="post" role="form">
        <div class="col-6 form-group">
            <label for="">游客姓名</label>
            <input type="text" class="form-control" name="umname" aria-describedby="helpId" placeholder="">

        </div>
        <div class="col-6 form-group">
            <label for="">游客电话</label>
            <input type="text" class="form-control" name="umtelephone" aria-describedby="helpId" placeholder="">

        </div>
        <div class="col-6 form-group">
            <button type="submit" class=" btn btn-primary">登记</button>
        </div>
    </form>
    <div class="jumbotron jumbotron-fluid mb-0 fixed-bottom p-3">
        <p class="text-center">copyright@2019 健身管理系统</p>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script>
        function checkMember() {
            var mid = $("#mid").val();

            $.get("checkMember2.do?mid=" + mid, function(result) {
                if (result == "no exsit") {
                    $("#helptext").html("会员编号不存在!")

                } else if (result == "guoqi") {
                    $("#helptext").html("会员卡已过期")

                } else {
                    $("#helptext").html("会员卡可用!")
                }
            });
        }

        function check() {
            var sdate = $("#sdate").val();
            var edate = $("#edate").val();
            if ($("#helptext").html() == "会员卡可用!") {
                if (edate == "" || sdate == "") {

                    alert("日期未填")
                    return false;

                } else {
                    if (edate < sdate) {
                        alert("结束时间早于开始时间!")
                        return false;
                    }
                    return true;
                }
            } else {
                alert($("#helptext").html());
                return false;
            }
        }　
        function checknumber(String) {　　　　
            var Letters = "1234567890";　　　　
            var i;　　　　
            var c;　　　　
            for (i = 0; i < Letters.length; i++) { //Letters.length() ->>>>取字符长度
                　　　　　　
                c = Letters.charAt(i);　　　　　　
                if (Letters.indexOf(c) == -1) { //在"Letters"中找不到"c"   见下面的此函数的返回值
                    　　　　　　　　
                    return true;　　　　　
                }　　　　
            }　　　　
            return false;　　
        }
    </script>
</body>

</html>