<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.KeepFitMS.dao.MemberDao" >
  <resultMap id="MemberMap" type="com.KeepFitMS.entity.Member" >
    <id column="mid" property="mid" jdbcType="INTEGER" />
    <result column="mname" property="mname" jdbcType="VARCHAR" />
    <result column="mdate" property="mdate"  />
    <result column="msfz" property="msfz"  />
    <result column="maddress" property="maddress"  />
  	<result column="msex" property="msex"  />
  	<result column="coach_id" property="coach_id"  />
  	<result column="wardrobe_id" property="wardrobe_id"  />
  	<result column="consultant_id" property="consultant_id"  />
  	<result column="needs" property="needs"  />
  	<result column="icon" property="icon"  />
  	<association property="card" javaType="com.KeepFitMS.entity.Card" >
  	<id column="cid" property="cid"></id>
  	<result column="ctype" property="ctype"/>
  	  	<result column="cprice" property="cprice"/>
  	<result column="cmoney" property="cmoney"/>
  	<result column="cpoints" property="cpoints"/>
  	<result column="mid" property="mid"/>
  	<result column="sdate" property="sdate"/>
  	<result column="edate" property="edate"/>

  	
  	</association>
  </resultMap>

  <select id="getAllMember" resultMap="MemberMap" >
    select * from member m,card c where m.mid=c.mid
  </select>
 
</mapper>